.topo {
    top: 0;
    position: fixed;
    width: 100%;    
}

.topo-logotipo{
    left: 15%;
    background: fixed url(img/logo.png) ;
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    position: fixed;
     
}
